<div class="card">
    <div class="card-header">
        {{pageTitle}}
    </div>
    <div class="card-body">
        <div class="row" style="margin-bottom:15px;">
            <div class="col-md-2">Filter by name:</div>
            <div class="col-md-5">
                <input type="text" [(ngModel)]="listFilter" name="listFilter" id="listFilter" />
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-3">
                <button class="btn btn-primary mr-3" (click)="goToEdit()">
                    New Employee
                </button>
            </div>
        </div>
        <div class="table-responsive">
            <table class="table mb-0" *ngIf="employees && employees.length">
                <thead>
                    <tr>
                        <th class="sort" (click)="sort('name')">Name # &nbsp;
                            <i
                                [class]="sortName === ''? 'fa fa-arrows-v'  : sortName == 'asc' ? 'fa fa-sort-amount-asc' : 'fa fa-sort-amount-desc'"></i>
                        </th>
                        <th class="sort" (click)="sort('address')">Address # &nbsp;
                            <i
                                [class]="sortAddress === ''? 'fa fa-arrows-v'  : sortAddress == 'asc' ? 'fa fa-sort-amount-asc' : 'fa fa-sort-amount-desc'"></i>
                        </th>
                        <th>Gender</th>
                        <th>Company</th>
                        <th>Designation</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of filteredEmployees">
                        <td>
                            <a (click)="goToEdit(employee.id)" style="color: #0d6efd; cursor: pointer;">
                                {{ employee.name }}
                            </a>
                        </td>
                        <td>{{ employee.address }}</td>
                        <td>{{ employee.gender }}</td>
                        <td>{{ employee.company }}</td>
                        <td>{{ employee.designation}} </td>
                        <td>
                            <button class="btn btn-outline-primary btn-sm" (click)="goToEdit(employee.id)">
                                Edit
                            </button>
                        </td>
                        <td>
                            <button class="btn btn-outline-warning btn-sm"
                                (click)="deleteEmployee(employee.id,employee.name);">
                                Delete
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div *ngIf="errorMessage" class="alert alert-danger">
    Error: {{ errorMessage }}
</div>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="square-jelly-box" [fullScreen]="true">
    <p style="color: white"> Loading... </p>
</ngx-spinner>