<header>
    <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3'>
        <div class="container">
            <a class="navbar-brand" [routerLink]='["/"]'>Employee App</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
                aria-label="Toggle navigation" [attr.aria-expanded]="isExpanded" (click)="toggle()">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
                <ul class="navbar-nav flex-grow">
                    <li class="nav-item" [routerLinkActive]='["link-active"]'
                        [routerLinkActiveOptions]='{ exact: true }'>
                        <a class="nav-link text-dark" [routerLink]='["/employees"]'>Employees</a>
                    </li>
                    <li *ngIf="!flag" class="nav-item" [routerLinkActive]='["link-active"]'>
                        <a class="nav-link text-dark" [routerLink]='["/login"]'>Login</a>
                    <li *ngIf="!flag" class="nav-item" [routerLinkActive]='["link-active"]'
                        [routerLinkActiveOptions]='{ exact: true }'>
                        <a class="nav-link text-dark" [routerLink]='["/register"]'>Register</a>
                    </li>
                    <li *ngIf="flag" class="nav-item"><button id="fakebt" type="button" class="nav-link text-dark"
                            (click)="logout()">Log out</button>
                    </li>
                    <i class="fa fa-bell  has-badge" style="cursor: pointer;" (click)="openModal()"></i>
                    <div class="numberCircle" *ngIf="notification && notification?.count>0" style="cursor: pointer;"
                        (click)="openModal()">
                        {{notification?.count}}</div>
                </ul>
            </div>
        </div>
    </nav>
</header>
<footer>
    <nav class="navbar navbar-light bg-white mt-5 fixed-bottom">
        <div class="navbar-expand m-auto navbar-text">
            Developed with <i class="fa fa-heart"></i> by <b>KhoaIT</b>
        </div>
    </nav>
</footer>

<app-modal id="custom-modal">
    <button class="btn btn-secondary" (click)="closeModal();" style="float: right;">Close</button>
    <button class="btn btn-primary" (click)="deleteNotifications();" style="margin-right: 10px; float: right;"
        [disabled]="notification?.count==0">Delete all Notifications
    </button>

    <div style="margin-bottom: 10px;"></div>
    <br />
    <br />
    <div *ngFor="let msg of messages">
        <h6 *ngIf="msg.tranType === 'Add' "><span class="badge bg-success">New employee '{{msg.employeeName}}'
                added</span>
        </h6>
        <h6 *ngIf="msg.tranType === 'Edit' "><span class="badge bg-info text-dark">Employee '{{msg.employeeName}}'
                edited</span>
        </h6>
        <h6 *ngIf="msg.tranType == 'Delete' "><span class="badge bg-warning text-dark">Employee '{{msg.employeeName}}'
                deleted</span>
        </h6>
    </div>
</app-modal>